
html body {
  background-color: #e5f7e1;
}

h1 {
  clear: both;
}

.layer {
  clear: both;
}

.layer .row {
  float: left;
  clear: left;
}

.layer .tile {
  float: left;
  width: 16px;
  height: 16px;
  background-color: #ddd;
  font-size: 16px;
  line-height: 14px;
}

.layer .tile .filled {
  background-color: #6d6;
}

.tileset {
  float: left;
  width: 34%;
  background-color: white;
  margin: 0 2%;
  padding: 10px;
}

.tileset li {
  text-align: right;
  list-style-type: none;
  border-bottom: 1px solid #e5f7e1;
  padding-bottom: 6px;
  margin-bottom: 4px;
}

.tileset li em {
  padding: 0 15px;
}
